@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Familjen Grotesk", sans-serif;
    border: 1px dashed black;
}

header{
    background-color: lightcoral;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-transform: capitalize;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left_list,.right_list {
    display: flex;
    gap: 20px;
    align-items: center;
}

.left_list ul, .right_list ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.left_list ul li a, .right_list ul li a{
    text-decoration: none;
    color: black;
} 





