@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;500;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Familjen Grotesk", sans-serif;
    scroll-behavior: smooth;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-transform: capitalize;
    z-index: 3;
}

header img{
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.blue_button {
    background-color: #0061ff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all .5s;
}

.blue_button:hover{
   filter: brightness(150%);
}

.left_list,
.right_list {
    display: flex;
    gap: 20px;
    align-items: center;
}

.left_list ul,
.right_list ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.left_list ul li a,
.right_list ul li a {
    text-decoration: none;
    color: black;
    padding-bottom: 25px;
}

.left_list ul li a:hover,
.right_list ul li a:hover{
    border-bottom: 2px solid black;
}



section img {
    height: 100%;
    width: 100%;
}


#jumbo_bg {
    padding-top: 100px;
    background-color: #b4d0e7;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.container_jumbo h1 {
    font-size: 80px;
    font-weight: 700;
}


.jumbo_flex {
    display: flex;
}

.jumbo_flex figure {
    flex-basis: 70%;
    position: relative;
    top: 50px;
}



.jumbo_text {
    margin-top: 50px;
    flex-basis: 30%;
    font-size: 1.2rem;
    line-height: 150%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jumbo_text button {
    width: 50%;
}

.fa-arrow-down {
    font-size: 50px;
}



.priceplan h2 {
    font-size: 3rem;
    margin-block: 2em;
}

#charging_period {
    margin-bottom: 5em;
}

#charging_period label {
    margin-right: 2em;
}

.profile_plans {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-content: center;
}

.profile_type {
    text-align: center;
    border: 1px solid lightgrey;
    padding-block: 10px;
}

.profile_card {
    width: calc(1000% / 3 - 40px);
    border: 1px solid lightgrey;
}

.profile_card span {
    display: block;
    margin-block: 10px;
}

.profile_card ul {
    list-style: none;
    margin-block: 2em;
}

.profile_card ul li {
    margin-block: 1.5em;
}

.card_body {
    padding: 2em;
}

.user_list,
.plan_features {
    margin-left: 1em;
}

.user_list li,
.plan_features li {
    padding-left: 5px;
}



.user_list li:nth-child(1)::marker {
    content: "\f007";
    font-family: "FontAwesome";

}

.user_list li:nth-child(2)::marker {
    content: "\f07b";
    font-family: "FontAwesome";
}

.user_list li:nth-child(3)::marker {
    content: "\f1e0";
    font-family: "FontAwesome";
}

#team_icon::marker{
    content: "\f0c0";
    font-family: "FontAwesome";
}

.card_body button {
    width: 100%;
    margin-bottom: 2em;
}

.card_body span:first-of-type{
    font-weight: bold;
}

.card_body span:last-of-type {
    margin-block: 2em;
}

.card_body h3:first-of-type{
    font-size: 1.5em;
}

.card_body hr {
    width: 30%;
    color: lightgrey;
}

.plan_highlights {
    margin-block: 2em;
}

.plan_features ul li::marker {
    content: "\f00c";
    font-family: "FontAwesome";
    color: #0061ff;
}

.plan_features h3 {
    margin: 0;
    padding: 0;
}

.fa-solid{
    margin-right: 5px;
}

label {
    font-size: 1.5rem;
}

.priceplan_footer {
    margin-top: 3em;
    border: 1px solid lightgray;  
}

.priceplan_footer h3{
    padding-block: 10px;
    text-align: center;
    border: 1px solid lightgrey;
}

.priceplan_footer_text{
    padding: 2em;
    display: flex;
    justify-content: space-between;
}


.priceplan_footer_text_left{
    flex-basis: 70%;
}

.priceplan_footer_text_left h2{
    padding-bottom: 1em;
}

.priceplan_footer_text_left p:first-of-type{
    font-weight: bold;
    margin-bottom: 3em;
}

.priceplan_footer_text_right{
    flex-basis: 30%;
}
.priceplan_footer_text_right button{
   display: block;
    width: 70%;
    margin: auto;
}

.partner_contact{
    margin-block: 8em;
    display: flex;
}

.partner_contact figure{
    flex-basis: 50%;
}

.partner_contact_text{
    padding: 5em;
    flex-basis: 50%;
}

.partner_contact_text h2{
    font-weight: bold;
    font-size: 2em;
}

.partner_contact_text P{
    padding-block: 3em;
}

#transparent_button{
    background-color: white;
    border: 1px solid black;
    padding: 10px 15px;
    font-size: 1.1em;
    cursor: pointer;
}

#transparent_button:hover{
    filter: brightness(150%);
    color: grey;
}

.dropbox_features{
    margin-block: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

.dropbox_features_box{
flex-basis: calc(100% / 3 - 3em);
}



.dropbox_features_box h3{
    padding-bottom: 1.5em;
}

#features_title{
    font-size: 3em;
    padding-bottom: 1em;
}

.discover_clients{
    margin: 0 auto;
    margin-block: 8em;
}

.discover_clients h2{
    font-size: 3rem;
    padding-bottom: 2em;
}

.squares{
    border: 1px solid lime;
    height: 60vh;
    width: 100%;
    display: flex;
}

.squares_left,
.squares_middle,
.squares_right{
    border: 1px solid red;
    flex-basis: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}

.square{
    border: 2px solid blue;
    height: 50%;
    width: 50%;

}